<div class= 'container'>
<h1> Create a new question!</h1>
  <form action="/questions" method="post">
    <input type="text" name="question[title]" placeholder='Title'>
    <br>
    <textarea name="question[body]" placeholder='Question:'style="width:250px;height:150px;"></textarea>
    <br>
    <input type='submit' value="Submit">
  </form>
</div>
