<form method="post" action="/login">
  <input type="text" name="user[name]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="login">
</form>

<% if @errors %>
  <% @errors.each do |error| %>
  <%= error %>
  <%end%>
<% end %>
