 
<form method="post" action="/users">
  <input type="text" name="user[email]" placeholder="email">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="register">
</form>
<br>
<%= erb :_errors %>
