<form method="post" action="/register">
  <input type="text" name="user[email]" placeholder="email">
  <input type="text" name="user[name]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="register">
</form>
