
<div class="container">
  <h1>Welcome To Lack Overflow!</h1>

  <section class="Questions">
    <h1>Commonly asked questions:</h1>
    <ul class="requested">
      <% @question.each do |question| %>
        <li class="QS">
          <article>
            <a href="/questions/<%= question.id %>"><%= question.title %></a>
            <form action = "/questions/<%=question.id%>/vote" method= 'post'>
              <input type='submit' value = 'Upvote'>

          </article>
        </li>
      <% end %>
    </ul>
  </section>

</div>
