<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->

          


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="/js/application.js"></script>
 
 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo right">Lack Overflow</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/questions/new">New Question</a></li>
        <li class="active"><a href="collapsible.html">Question</a></li>
      </ul>
    </div>
  </nav>
  <title></title>
</head>
<body>
  <ul>
    <% if logged_in %>
    <li> <a href="/users/<%=current_user.id %>"><%= "#{current_user.name}" %></a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/">home</a></li>
  <% else %>
    <li> <a href="/login">Login</a></li>
    <li> <a href="/users/new">Register</a></li>
    <% end %>
  </ul>
  <%= yield %>
</body>
